@font-face{
	font-family: Open_Sans;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
.black-color{
	color: #555;
}
.trasmparent-background{
	background-color: rgba(0,0,0,0.0);
}
.container-main-profile-image{
	margin-top: -17px; 
	margin-right: -2px;
	margin-left: -2px;
	padding: 0px;
	overflow:hidden;
}
.profile-info-image{
	top: -180px;
	padding: auto 40px; 
	position: relative;
	color: #fff;
}
.row-gallery{
	padding: 0px;
	/*margin-left: -14.3%; 
	margin-right: -4%;*/
}
body{
	/*font-family: 'Open_Sans' !important;*/
	font-size: 1.2em;
}